    nav {
    ul {}
    li {
        list-style: none;
    }
    a {
        text-decoration: none;
        text-transform: uppercase;
        &:hover {
            text-decoration: underline;
        }
    }
}

h1.title {
	text-transform: uppercase;
    a {
        text-transform: uppercase;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}